body{
    background-image : url('../img/emilia-about.jpg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right 0;
    font-family: 'Open Sans';

}
p.header {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, .5);
    text-align: right;
    padding:20px ;



}
p.redes {
    text-align: right;
}
h1 {
    font-family: Raleway;
    font-size: 65px;
}

p.cita{
    font-family: Raleway;
    color: #00b09a;
    margin-left: 40px;

}
p.primaria {
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 50px;

}
p.secundaria {
    font-size: 15px;

    
}