body{
    font-family: 'Open Sans';

}
a {
    color: #000;
    text-decoration: none;
  }
  
  

p.header {
    margin-top: 30px;
    text-align: right;
    padding:20px ;



}
p.redes {
    text-align: right;
}
h1{
    font-size: 70px;
    font-family: Raleway;

}
h2{
    font-family: Raleway;
    
}
iframe {
    margin-bottom: 40px;
}

h4{
    font-family: Raleway;
    color: #1c9a85 ;
    font-size: 19px;
    margin-bottom: 16px;
    margin-top: 34px;

    
}
ul{
    padding:0 ;

}